<section class="d-flex justify-content-center my-4">
	<h2>What Vehicle Did You Rent?</h2>
</section>

<section class="container">
	<div class="row row-cols-1 row-cols-lg-5 g-4 mb-3">
		{{> cars-info cars}}
	</div>
</section> 