<div class="d-flex justify-content-center mt-2">
    <h4 class="bg-light rounded p-2">Our Cars</h4>
</div>

<ol class="post-list list-group bg-info">
  <li class="list-group-item bg-success">
    {{> cars-info cars}}
  </li>
</ol>