	<section class="container">
    <div class="d-flex justify-content-center">
      <h2>Your Reviews</h2>
    </div>
		<div class="row row-cols-1 row-cols-lg-4 g-4 justify-content-center">
			{{> dashboard-reviews reviews}}
		</div>
	</section>

