	<section class="d-flex justify-content-center my-4">
		<h2>Our Most Recent Reviews</h2>
	</section>

	<section class="container">
		<div class="row row-cols-1 row-cols-lg-4 g-4 justify-content-center">
			{{> homepage-reviews reviews}}
		</div>
	</section>