<form class="container d-flex justify-content-center my-3 login-form">
	<div class="card col-lg-6 p-3">
		<div class="mb-3">
			<label for="email-login" class="form-label">Email address</label>
			<input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
			<div id="emailHelp" class="form-text">We are going to share your email with everyone and make a lot of money doing it.</div>
		</div>
		<div class="mb-3">
			<label for="password-login" class="form-label">Password</label>
			<input type="password" class="form-control" id="password-login">
		</div>
		<button type="submit" class="btn btn-outline-dark">Login</button>
	</div>
</form>

<form class="container d-flex justify-content-center signup-form mb-2">
	<div class="card col-lg-6 p-3">
		<div class="mb-3">
			<label for="username-signup" class="form-label">Username</label>
    	<input type="text" class="form-control" id="username-signup">
		</div>
		<div class="mb-3">
			<label for="email-signup" class="form-label">Email address</label>
			<input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
			<div id="emailHelp" class="form-text">We are going to share your email with everyone and make a lot of money doing it.</div>
		</div>
		<div class="mb-3">
			<label for="password-signup" class="form-label">Password</label>
			<input type="password" class="form-control" id="password-signup">
		</div>
		<button type="submit" class="btn btn-outline-dark">Sign Up</button>
	</div>
</form>

<script src="/javascript/login.js"></script>